{% extends 'base.html.twig' %}


{% block tinymce %}
    <script src="https://cdn.tiny.cloud/1/0mfdsilngywfygs9tbl0b40723kmi9tidztyrtr534whm93a/tinymce/5/tinymce.min.js">

    </script>
    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: 'image code link lists anchor codesample',
            menubar: 'insert',
            toolbar: 'bold italic underline strikethrough link numlist bullist' +
                'alignleft aligncenter alignright alignjustify styleselect ' +
                'bullist numlist outdent indent ' +
                'undo redo removeformat subscript superscript anchor | image code codesample',
            default_link_target: "_blank",
            images_upload_credentials: true,
            images_upload_base_path: '',
            relative_urls: false,
            convert_urls: false,
            remove_script_host : false,

            images_upload_url: '/dashboard/category/blog/post/edit/upload'
        });
    </script>
{% endblock %}
    {% block logoutbtn %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" style="color: red" href="{{ path('logout') }}">Logout</a>
        </li>
    {% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row dashboard" id="blogs">
                    <button class="btn btn-secondary btn-block"><a style="color: white; text-decoration: none"
                                                                   href="/dashboard">Dashboard</a></button>
                </div>
                <div class="row dashboard">
                    <button class="btn btn-secondary btn-block"><a style="color: white; text-decoration: none"
                                                                   href="/dashboard/category">Category</a></button>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row" id="blogs">
                    <p>Cover Image should be 1140x400, Article images width can be 720p max.</p>

                    <form action="/dashboard/createblogpost/save" method="GET">

                        Category:
                        {% for cat in cats %}

                            <input type="radio" name="category_id" value="{{ cat.id }}" required>
                            {{ cat.name }}

                        {% endfor %}
                        <br>
                        <br>
                        Title: <br>
                        <input class="form-control" type="text" name="title" value="" required> <br>
                        Date Created: <br>
                        <input class="form-control" type="date" name="dateCreated" value="" required> <br>

                        <button class="btn btn-primary btn-block" type="submit">SAVE</button>
                        <textarea class="form-control" style="min-height: 720px" name="article"></textarea>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <br><br><br>


{% endblock %}

