{% extends 'base.html.twig' %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row dashboard" id="blogs">
                    <button class="btn btn-secondary btn-block"><a style="color: white; text-decoration: none"
                                                                   href="/dashboard">Dashboard</a></button>
                </div>
                <div class="row dashboard">
                    <button class="btn btn-secondary btn-block"><a style="color: white; text-decoration: none"
                                                                   href="/dashboard/category">Category</a></button>
                </div>
                <div class="row dashboard">
                    <button class="btn btn-secondary btn-block"><a style="color: white; text-decoration: none"
                                                                   href="/dashboard/createblogpost">Create Post</a>
                    </button>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row" id="blogs"></div>


                <h2>Create a new Category</h2>
                <br>
                <form action="/dashboard/category/create/save" method="GET">
                    Category Name:
                    <input class="form-control" type="text" name="categoryName" value="" required>
                    <br>
                    <button class="btn btn-primary" type="submit">SAVE</button>
                </form>


            </div>
        </div>
    </div>



{% endblock %}
