{% extends 'base.html.twig' %}
    {% block logoutbtn %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" style="color: red" href="{{ path('logout') }}">Logout</a>
        </li>
    {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row dashboard" id="blogs">
                    <button class="btn btn-secondary btn-block"><a style="color: white; text-decoration: none"
                                                                   href="/dashboard">Dashboard</a></button>
                </div>
                <div class="row dashboard">
                    <button class="btn btn-secondary btn-block"><a style="color: white; text-decoration: none"
                                                                   href="/dashboard/category">Category</a></button>
                </div>
                <div class="row dashboard">
                    <button class="btn btn-secondary btn-block"><a style="color: white; text-decoration: none"
                                                                   href="/dashboard/createblogpost">Create Post</a>
                    </button>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row" id="blogs"></div>

                <h2>Edit Category Name</h2>
                <br>
                <form action="/dashboard/category/edit/save/{{ cat.id }}" method="POST">
                    Category Name:
                    <input class="form-control" type="text" name="categoryName"value="{{ cat.name }}" required>
                    <br>
                    <button class="btn btn-primary" type="submit">SAVE</button>
                </form>


            </div>
        </div>
    </div>


{% endblock %}
