
###> symfony/framework-bundle ###
/site_backend/.env.local
/site_backend/.env.local.php
/site_backend/.env.*.local
/site_backend/public/bundles/
/site_backend/var/
/site_backend/vendor/

.idea
.idea/*


###< symfony/framework-bundle ###

