{% extends 'base.html.twig' %}

{% block title %}About - Nafisul Bari's Site{% endblock %}

{% block keywords %}Ahmed Nafisul Bari,Nafisul Bari,Ahmed Nafisul Bari Ratul{% endblock %}

{% block description %}Ahmed Nafisul Bari is a freelance backend web developer from Bangladesh.
    Currently studying Computer Science and Engineering at BRAC University{% endblock %}

{% block ogmetatags %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="About - Nafisul Bari's Site">
    <meta property="og:url" content="https://nafisulbari.com/about">
    <meta property="og:description" content="Ahmed Nafisul Bari is a freelance backend web developer from Bangladesh.
    Currently studying Computer Science and Engineering at BRAC University">
    <meta property="og:site_name" content="Nafisul Bari's Site">
{% endblock %}

{% block cano %}<link rel="canonical" href="https://nafisulbari.com/about"/>{% endblock %}

{% block aboutactive %}active{% endblock %}
{% block body %}

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1 id="about-heading" style="font-family:Lora, serif;color:#4c4c4c;">A little about who I am.</h1>
                    <div id="dash"></div>
                    <h2 id="about-desc" style="font-family:'Nunito Sans', sans-serif;color:rgb(88,88,88);"><br>Hi there, I am Ahmed Nafisul Bari.<br>A freelance backend web developer from Bangladesh.<br><br>Currently studying Computer Science and Engineering at BRAC University.<br><br></h2>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

