{% extends 'base.html.twig' %}

{% block title %}About - Nafisul Bari's Site{% endblock %}

{% block keywords %}Ahmed Nafisul Bari,about,contact,email{% endblock %}

{% block description %}Ahmed Nafisul Bari is a freelance backend web developer from Bangladesh.
    Currently studying Computer Science and Engineering at BRAC University{% endblock %}

{% block metarobot %}index,follow{% endblock %}
{% block ogmetatags %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="About - Nafisul Bari's Site">
    <meta property="og:url" content="https://nafisulbari.com/about">
    <meta property="og:image" content="https://nafisulbari.com{{ asset('assets/android-chrome-192x192.png') }}">
    <meta property="og:description" content="Ahmed Nafisul Bari is a freelance backend web developer from Bangladesh.
    Currently studying Computer Science and Engineering at BRAC University">
    <meta property="og:site_name" content="Nafisul Bari's Site">
{% endblock %}

{% block cano %}<link rel="canonical" href="https://nafisulbari.com/about"/>{% endblock %}

{% block aboutactive %}active{% endblock %}
{% block body %}

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8" id="about-cont">
                    <h1 id="about-heading" style="font-family:Lora, serif;color:#4c4c4c;"><u id="underline">A little</u> about who I am.</h1>

                    <h2 id="about-desc" style="font-family:'Nunito Sans', sans-serif;color:rgb(88,88,88);"><br>Hi there, I am Ahmed Nafisul Bari.<br>
                        A freelance backend web developer from Bangladesh. <br><br>
                        Java, SpringBoot, Hibernate are the technologies I like to play with.<br><br>
                        I build this website to document everything as I learn. Also, learning new things is part of my everyday life and will be for a long time to come.<br><br>
                        Currently studying Computer Science and Engineering at BRAC University.<br><br>

                        If you have a project that you want to get started,
                        think you need my help with something or just fancy saying hey,
                        then get in touch.
                    </h2>

                    <a id="email-me-button" class="btn btn-secondary" href="mailto: nafisulbari@gmail.com">
                        <i id="email-icon" class="fa fa-envelope"></i>EMAIL ME</a>


                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center justify-content-sm-start">
                    <div class=" " id="footer-icons">
                        <a id="footer-icon-link" href="https://www.facebook.com/nafisulbari1" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square" id="social-icon"></i></a>
                        <a id="footer-icon-link" href="https://www.instagram.com/r47ul" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram" id="social-icon"></i></a>
                        <a id="footer-icon-link" href="https://www.linkedin.com/in/ahmed-nafisul-bari-651b23ab" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin-square" id="social-icon"></i></a>
                        <a id="footer-icon-link" href="https://github.com/nafisulbari" target="_blank" rel="noopener noreferrer"><i class="fa fa-github" id="social-icon"></i></a>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end">
                    <h3 class="" id="footer-tag">© 2020, Nafisul Bari</h3>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

