{% extends 'base.html.twig' %}

{% block title %}
    <title>Nafisul Bari's Site - About</title>
{% endblock %}

{% block head %}
    <meta name="author" content="Ahmed Nafisul Bari">
    <meta name="keywords" content="Ahmed Nafisul Bari About">
    <meta name="description" content="A freelance backend web developer from Bangladesh. Currently studying Computer Science and Engineering at BRAC University.">

    <link rel="canonical" href="https://nafisulbari.com/about"/>
{% endblock %}

{% block body %}


    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="about-heading" style="font-family:Lora, serif;color:#4c4c4c;">A little about who I am.</h1>
                    <div id="dash"></div>
                    <h1 id="about-desc" style="font-family:'Nunito Sans', sans-serif;color:rgb(88,88,88);"><br>Hi there, I am Ahmed Nafisul Bari.<br>A freelance backend web developer from Bangladesh.<br><br>Currently studying Computer Science and Engineering at BRAC University.<br><br></h1>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

