<!DOCTYPE html>
<html lang="en">
<!--Hello MF-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="theme-color" content="#585858">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134236841-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134236841-1');
    </script>

    <!-------------------------------------------------------------->
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
        <meta name="author" content="Ahmed Nafisul Bari">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="robots" content="{% block metarobot %}{% endblock %}">
        {% block ogmetatags %}{% endblock %}
        {% block cano %}{% endblock %}
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ asset('assets/favicon-48x48.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/favicon-48x48.png') }}">
    <link rel="shortcut icon" href="{{ asset('assets/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Nunito+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

    {% block stylesheets %}{% endblock %}

    {% block tinymce %}{% endblock %}
</head>
<body>


<nav class="navbar navbar-light navbar-expand-lg navigation-clean-search" id="nav-bar">
    <div class="container" id="menu-mobile-cont">
        <a class="navbar-brand" href="/" id="brand-nb">NB</a>
        <button class="navbar-toggler" id="menu-mobile" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">

            <form class="form-inline ml-auto" target="_self"
                  action="/blogs/search" method="GET">
                {% block search %}{% endblock %}
            </form>

            <ul class="nav navbar-nav ml-auto" id="nav-links">
                <li class="nav-item" role="presentation"><a class="nav-link {% block homeactive %}{% endblock %}" href="/"
                                                            >Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link {% block aboutactive %}{% endblock %}" href="/about" >About</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link {% block blogactive %}{% endblock %}" href="/blog" >Blog</a>
                </li>
                {% block logoutbtn %}{% endblock %}
            </ul>
        </div>
    </div>
</nav>


{% block body %}{% endblock %}




{% block javascripts %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
