{% extends 'base.html.twig' %}
{% block title %}
    <title>Nafisul Bari's Site</title>
{% endblock %}

{% block head %}
    <meta name="author" content="Ahmed Nafisul Bari">
    <meta name="keywords" content="Ahmed Nafisul Bari Blog Home">
    <meta name="description" content="A freelance backend web developer from Bangladesh. Currently studying Computer Science and Engineering at BRAC University.">

    <link rel="canonical" href="https://nafisulbari.com"/>
{% endblock %}

{% block body %}

    <div id="first-block">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div>
                        <h1 id="h1-intro" style="font-family:'Nunito Sans', sans-serif;font-size:20px;color:rgb(88,88,88);">I am Ahmed Nafisul Bari<br></h1>
                        <h2 id="h2-quote" style="font-family:Lora, serif;">Exploring Ideas around Design Code and Technologies</h2>
                        <div>
                            <div class="row">
                                <div class="col-md-3" id="jobs-cont">
                                    <h3 id="jobs">Software Engineer</h3>
                                </div>
                                <div class="col-md-3" id="jobs-cont">
                                    <h3 id="jobs">Backend Developer</h3>
                                </div>
                                <div class="col-md-4" id="jobs-cont">
                                    <h3 id="jobs">Working on Mobile Lagbe</h3>
                                </div>
                                <div class="col-md-2" id="jobs-cont">
                                </div>
                            </div>
                        </div>
                        <div id="icons"><i class="fa fa-facebook-square" id="socail-icon" style="font-size:20px;"></i><i class="fa fa-instagram" id="socail-icon" style="font-size:20px;"></i><i class="fa fa-linkedin-square" id="socail-icon" style="font-size:20px;"></i>
                            <i
                                    class="fa fa-github" id="socail-icon" style="font-size:20px;"></i>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>



{% endblock %}