{% extends 'base.html.twig' %}


{% block title %}Home - Nafisul Bari's Site{% endblock %}

{% block keywords %}Ahmed Nafisul Bari,Nafisul Bari,Ahmed Nafisul Bari Ratul{% endblock %}

{% block description %}Website of Ahmed Nafisul Bari. A freelance backend web developer from Bangladesh. Currently studying Computer Science and Engineering at BRAC University{% endblock %}

{% block metarobot %}index,follow{% endblock %}

{% block ogmetatags %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home - Nafisul Bari's Site">
    <meta property="og:url" content="https://nafisulbari.com">
    <meta property="og:description" content="Website of Ahmed Nafisul Bari. A freelance backend web developer from Bangladesh. Currently studying Computer Science and Engineering at BRAC University">
    <meta property="og:site_name" content="Nafisul Bari's Site">
{% endblock %}

{% block cano %}<link rel="canonical" href="https://nafisulbari.com"/>{% endblock %}

{% block homeactive %}active{% endblock %}
{% block body %}

    <div id="first-block">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div>
                        <h1 id="h1-intro">I am Ahmed Nafisul Bari<br></h1>
                        <h2 id="h2-quote">Exploring Ideas around Design Code and Technologies</h2>
                        <div>
                            <div class="row">
                                <div class="col-md-3" id="jobs-cont">
                                    <h3 id="jobs">Software Engineer</h3>
                                </div>
                                <div class="col-md-3" id="jobs-cont">
                                    <h3 id="jobs">Backend Developer</h3>
                                </div>
                                <div class="col-md-4" id="jobs-cont">
                                    <h3 id="jobs">Working on <a id="jobs-link" href="http://mobilelagbe.com/" target="_blank">Mobile Lagbe</a></h3>
                                </div>
                                <div class="col-md-2" id="jobs-cont">
                                </div>
                            </div>
                        </div>
                        <div id="icons">
                            <a id="social-icon-link" href="https://www.facebook.com/nafisulbari1" target="_blank"><i class="fa fa-facebook-square" id="social-icon"></i></a>
                            <a id="social-icon-link" href="https://www.instagram.com/r47ul" target="_blank"><i class="fa fa-instagram" id="social-icon"></i></a>
                            <a id="social-icon-link" href="https://www.linkedin.com/in/ahmed-nafisul-bari-651b23ab" target="_blank"><i class="fa fa-linkedin-square" id="social-icon"></i></a>
                            <a id="social-icon-link" href="https://github.com/nafisulbari" target="_blank"><i class="fa fa-github" id="social-icon"></i></a>

                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>



{% endblock %}