{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .error {
            color: red
        }
    </style>

    <div class="example-wrapper">



        <br><br><br><br>
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col form-control-sm">
                    <h1 id="blog-title" style="color: #4c4c4c">Login page</h1><br><br>
                    {% if error %}
                        <span class="error">{{ error.messageKey }}</span>
                    {% endif %}

                    <form class="form-group" action="{{ path('login') }}" method="POST">

                        <input class="form-control" type="hidden" name="go_to" value="{{ path('dashboard') }}"/>
                        <input class="form-control" type="text" name="_username" value="{{ last_username }}"
                               placeholder="Email"><br>
                        <input class="form-control" type="password" name="_password" placeholder="Password"><br>

                        <button class="form-control btn btn-secondary" type="submit">Login</button>

                    </form>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
