
p {
    font-family: Nunito, sans-serif;
    color: #585858;
    font-size: 18px;
    letter-spacing: .2px;
}

@media (max-width: 768px) {
    p {
        font-size: 16px;
    }
}

#menu-mobile {
    border: 0;
}

#blog-thumbnail {
    object-fit: cover;
}

#column-left {
    width: 70%;
    flex: auto;
    max-width: none;
    z-index: 10;
}

#column-right {
    width: 30%;
    flex: auto;
    max-width: none;
}

#blog-title {
    text-decoration: none;
    font-family: 'Lora';
    font-size: 22px;
    font-weight: 500;
    color: #0b0b0b;
    letter-spacing: .3px;
    line-height: 1.75rem;
}

@media (max-width: 768px) {
    #blog-title {
        font-size: 20px;
        line-height: 0rem;
    }
}

#blogs {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 460px) {
    #blogs {
        margin-top: 22px;
        margin-bottom: 0px;
    }
}

#blog-para {
    font-family: Nunito;
    font-size: 18px;
    color: #585858;
    letter-spacing: .2px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    #blog-para {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    #blog-para {
        font-size: 16px;
    }
}

#headh1 {
    font-family: 'Lora';
    font-weight: 500;
    font-size: 30px;
    color: #4c4c4c;
    word-break: break-all;
}

@media (max-width: 768px) {
    #headh1 {
        font-size: 25px;
    }
}

#cat-items {
    text-decoration: none;
    color: #585858;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .2px;
}

#search-field {
    border-bottom: 1px solid #fcfcfc;
}

#cover2 {
    object-fit: cover;
    display: block;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px 0px, rgba(0, 0, 0, 0.04) 0px 6px 20px 0px;
}

@media (max-width: 460px) {
    #cover2 {
        margin-top: 25px;
        margin-bottom: 10px;
    }
}

#seemore-arrow {
    margin-left: 5px;
    position: relative;
    top: 1px;
}

#cat-icon {
    margin-left: 5px;
    position: relative;
    top: 5px;
    font-size: 16px;
}

@media (max-width: 768px) {
    #cat-icon {
        font-size: 15px;
    }
}

#cat-section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
}

#search-ico {
    border-bottom: 1px solid white;
}

#demo-article {
    padding: 20px 20px 20px 20px;
}

@media (max-width: 460px) {
    #demo-article {
        padding: 5px 5px 5px 5px;
    }
}

@media (max-width: 768px) {
    #demo-article {
        padding: 10px 10px 10px 10px;
    }
}

#blog-para {
    margin-bottom: 0;
}

#column-right {
    float: right;
}

@media (max-width: 768px) {
    #column-right {
        width: 100%;
    }
}

#column-left {
    float: left;
}

@media (max-width: 768px) {
    #column-left {
        width: 100%;
    }
}

#main-cont {
    min-height: 70vh;
}

@media (max-width: 768px) {
    #main-cont {
        margin: auto;
        max-width: 576px;
    }
}

#cat-section {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
}

@media (max-width: 460px) {
    #cat-section {
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    #cat-section {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        box-sizing: border-box;
        margin-left: -30px;
    }
}

#cat-col {
    padding-left: 15px;
}

@media (max-width: 576px) {
    #cat-col {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: -70px;
    }
}

@media (max-width: 768px) {
    #cat-col {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: -70px;
        margin-bottom: 20px;
    }
}

#logo {
    font-size: 50px;
}

@media (max-width: 768px) {
    #logo {
        font-size: 40px;
    }
}

#headh1-div {
    margin-top: 40px;
}

@media (max-width: 460px) {
    #headh1-div {
        margin-top: 35px;
        margin-bottom: 30px;
    }
}

#blog-thumbnail {
    width: 200px;
    height: 200px;
}

@media (max-width: 768px) {
    #blog-thumbnail {
        width: 180px;
        height: 180px;
        padding-top: 15px;
    }
}

@media (max-width: 460px) {
    #blog-thumbnail {
        width: 100px;
        height: 100px;
    }
}

#article-info {
    max-width: 720px;
    margin: auto;
}

#article {
    max-width: 720px;
    margin: auto;
}

#article-para {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: .01rem;
}

@media (max-width: 768px) {
    #article-para {
        font-size: 18px;
    }
}

@media (max-width: 460px) {
    #article-para {
        font-size: 16px;
    }
}

#first-let {
    float: left;
    font-size: 55px;
    line-height: 50px;
    padding-top: 5px;
    padding-right: 15px;
    position: relative;
}

@media (max-width: 768px) {
    #first-let {
        line-height: 43px;
    }
}

@media (max-width: 460px) {
    #first-let {
        padding-right: 10px;
    }
}

#article-title {
    font-size: 35px;
}

@media (max-width: 460px) {
    #article-title {
        font-size: 22px;
    }
}

#article-date {
    font-size: 19px;
}

@media (max-width: 460px) {
    #article-date {
        font-size: 15px;
    }
}

#article-author {
    font-size: 19px;
}

@media (max-width: 460px) {
    #article-author {
        font-size: 15px;
    }
}

#pagi {
    font-size: 18px;

}

@media (max-width: 460px) {
    #pagi {
        font-size: 16px;

    }
}

#cover2-div {
    box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 8px 0px, rgba(0, 0, 0, 0.04) 0px 6px 20px 0px;
}

#tiny-div {
    max-width: 1140px;
    margin: auto;
}

#navvbar-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px 0px, rgba(0, 0, 0, 0.04) 0px 6px 20px 0px;
}

#footer-blo {
    margin-top: 40px;
}

@media (max-width: 460px) {
    #footer-blo {
        margin-top: 30px;
    }
}

#cat-litem-ink {
    font-size: 18px;
}

@media (max-width: 768px) {
    #cat-litem-ink {
        font-size: 16px;
    }
}

.blogpost-article p {
    font-size: 20px;

}

@media (max-width: 768px) {
    .blogpost-article p {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .blogpost-article p {
        font-size: 16px;
    }
}

.blogpost-article img {
    max-width: 720px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.footer-text p {
    font-size: 18px;
    color: white;
    width: 100%;
    margin: auto;

}

.footer-dark .copyright {
    font-size: 16px;
}

@media (max-width: 576px) {
    .footer-dark .copyright {
        font-size: 13px;
    }
}

.cats{
    margin-top: 15px;
}

.pointer {
    cursor: pointer;
}