
html, body {
    margin: 0;
    padding: 0;
}

/*--------------------REUSABLE CONTENT----------------------*/
.row {
    max-width: 1140px;
    margin: auto;
}


/*--------------------Navigation----------------------*/
.nav-bar {
    background-color: #707070;
}
.nav-bar a {
    display: block;
    padding: 8px;
    background-color: #707070;
    text-decoration: none;
    font-size: 22px;
    color: #FFFFFF;
}
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main-nav-left {
    float: left;
}
.main-nav {
    float: right;
}

.main-nav-left a {
    font-family: "Libre Baskerville","Serif";
    font-size: 55px;
}
.main-nav a {
    padding-top: 26px;
    font-family: "Work Sans","SansSerif";
    margin-left: 8px;
}


