<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" type="text/css" href="{{ asset('vendors/css/grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendors/css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/queries.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Work+Sans&display=swap"
          rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}


    <title>{% block title %} hh {% endblock %}</title>


    {% block tinymce %}

    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body>


<nav>
    <div class="nav-bar">
        <div class="row">
            <ul>
                <li class="main-nav-left"><a href="/">Nafisul Bari</a></li>
                <li class="main-nav"><a href="#">Contact</a></li>
                <li class="main-nav"><a href="/blog">Blog</a></li>
                <li class="main-nav"><a href="#">Work</a></li>
                <li class="main-nav"><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</nav>


{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
