{% extends 'base.html.twig' %}

{% block body %}

    <h1>Blogs page</h1>
    </br>

    <h2>Category</h2>
    </br>

    <h2>Featured Blogs</h2>
    <ul>
        {% for  blog in blogs %}
            <li> {{ blog.id }}</li>
            <li> {{ blog.title }}</li>
            <li> {{ blog.article }}</li>
            </br>
        {% endfor %}
    </ul>

{% endblock %}