{% extends 'base.html.twig' %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block title %}Welcome to my site{% endblock %}

{% endblock %}




{% block body %}

    <header>
        <div class="hero-text-box">
            <h1>I am Nafisul Bari. <br>A full-stack web developer.</h1>
        </div>
    </header>

{% endblock %}