{% extends 'base.html.twig' %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block title %}{% endblock %}




{% endblock %}
{% block body %}

    {% block hero_text_box %}
        <div class="hero-text-box">
            <h1>I am Nafisul Bari. <br>A full-stack web developer.</h1>
        </div>

    {% endblock %}






{% endblock %}