{% extends 'base.html.twig' %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block title %}{% endblock %}



{% endblock %}

{% block body %}

    <div class="hero">
        <div class="row">
            <div class="message">
                <h2>I am Nafisul Bari</h2>
                <h3>A full-stack web developer</h3>
            </div>
        </div>

    </div>







{% endblock %}