{% extends 'base.html.twig'%}

{% block body %}


    <a href="/dashboard/createblogpost">Create Post</a>

<br>


    <a href="/dashboard/category">Category Section</a>


    <h2>Blogs with Categories</h2>
    <ul>
        {% for  cat in cats %}
            <li><a href="/dashboard/category/blog/{{ cat.id }}">{{ cat.name }}</a></li>



        {% endfor %}
    </ul>
{% endblock %}