{% extends 'base.html.twig'%}

{% block body %}

    <h2>Categories</h2>
    <ul>
        {% for  cat in cats %}
            <li><a href="/dashboard/category/blog/{{ cat.id }}">{{ cat.name }}</a></li>



        {% endfor %}
    </ul>
{% endblock %}